<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /genecare-webapp/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /genecare-webapp/index.html [L]
</IfModule>
